body {
  height: 180vh;
  width: 100%;
  position: relative;
}
header {
  height: 70px;
  width: 100%;
  background-color: black;
  align-items: center;
}
span {
  color: white;
}

.logo {
  height: 70px;
  width: auto;
  position: relative;
  left: 300px;
}
nav {
  display: inline;
  position: relative;
  left: 280px;
  bottom: 30px;
  padding-left: 35px;
  color: white;
}

.span-1 {
  font-size: small;
  padding-left: 15px;
}
.span-2 {
  font-size: x-small;
  color: gray;
  padding-left: 15px;
}

.mainPic {
  background-image: url(sky.jpg);
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainPicInfo {
  width: 100%;
  height: 120px;
  background: black;
  position: relative;
  opacity: 0.5;
  color: white;
  font-size: large;
  display: flex;
}

h1 {
  margin-left: 200px;
  padding-top: 20px;
}

.learnMoreBox {
  width: 150px;
  height: 30px;
  background-color: white;
  margin-top: 50px;
  margin-left: 350px;
  display: flex;
}

.learnMoreText {
  font-size: x-small;
  color: black;
  font-weight: bold;
  padding-left: 35px;
}

.mainPicBoxes {
  color: white;
  height: 60px;
  width: 100%;
  background: black;
  opacity: 0.7;
}
.inlinebox {
  display: inline;
  justify-content: center;
  padding-left: 20px;
  border: 1px transparent;
  margin-left: 200px;
}
.wrapBox {
  position: absolute;
  top: 525px;
  width: 100%;
}
.designBox {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  color: black;
  position: relative;
}

h3 {
  position: absolute;
  bottom: 0;
}

.animal {
  width: 200px;
  height: 110px;
}

.animalbox {
  width: 200px;
  height: 220px;
  box-shadow: 2px 2px 4px lightgray;
  display: inline-block;
  padding: 30px;
  position: relative;
}

.animalWrap {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 350px;
  margin-top: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
}

h6 {
  position: absolute;
  bottom: -5px;
  color: blue;
}

.span-3 {
  font-size: small;
  margin-left: 20px;
}

.span3box {
  margin-left: 350px;
  margin-top: 25px;
}
